@(message: String, style: String = "scala")

@defining(play.core.PlayVersion.current) { version =>

<section id="top">

    <body>
            <!-- ##### Nav Bar ##### -->
        <div class="container-fluid">
                <!-- Top logo -->
            <div class="row topper">
                <div class="col-md-6 header-section">
                    <div class="logo">
                        <a href="/" title="Home" rel="home" style="border: medium none;"> <img height="100px" width="100px" src="http://www.seleniumeasy.com/sites/default/files/seleniumEasy_0.jpg" alt="Selenium Easy" role="presentation"> </a>
                    </div>
                    <div id="name-and-slogan">
                        <div id="site-name" class="site-name"><a href="/" title="Home" rel="home">Selenium Easy</a></div>
                        <div id="site-slogan" class="site-slogan">Complete Automation Testing Tutorials</div>
                    </div>
                </div>
                <div class="top-banner col-md-6">
                    <a href="https://crossbrowsertesting.com/?utm_source=seleniumeasy&utm_medium=da&utm_campaign=sedemo" target=”_blank”>
                        <img class="cbt" src="http://www.seleniumeasy.com/test/img/sponsored-by-CBT.png"/></a>
                </div>
            </div>
        </div>
    <button class="tablink" >Input Forms</button>
    <button class="tablink" >Date Pickers</button>
    <button class="tablink" >Progress Bars</button>
    <button class="tablink" >Alerts and models</button>
    <button class="tablink" >List Box</button>
    <button class="tablink" >Others</button>





<aside>
  <h3>Menu List</h3>
  <ul>
    <li><a href="https://playframework.com/documentation/@version">Date Pickers</a></li>
      <li><a href="https://playframework.com/documentation/@version">Tables</a></li>
      <li><a href="https://playframework.com/documentation/@version">Progess bars and sliders</a></li>
      <li><a href="https://playframework.com/documentation/@version">Alerts and Models</a></li>
      <li><a href="https://playframework.com/documentation/@version">List Box</a>
  <li><a href="https://playframework.com/documentation/@version">Others</a></li>


  </ul>


</aside>

</div>
}
